/.cache
/.probe
/.vscode
/crash-reports
/data
/datapacks
/defaultconfigs
/local
/logs
/patchouli_books
/saves
/schematics
/emi.json
/fabricloader.log
/options.txt
/patchouli_data.json
/rhino.local.properties
# Maybe todo? Add custom servers file (this would need a community server)
/servers.dat
/usercache.json
/usernamecache.json
/mods
/packdev/.packdev